@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;300&display=swap');

.app {
    height: 100vh;
    display: flex;
    color: #fff;
    background-color: #240c4d;

  }
  
  .main {
    width: 75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
      url("./assets/bg.jpg") center;
    display: flex;
    flex-direction: column;
  }
  
  .pyramid {
    width: 25%;
    background-color: #020230;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .moneyList {
    padding: 20px;
    list-style: none;
    width: 100%;
  }
  
  .moneyListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
  }
  
  .moneyListItem.active {
    background-color: teal;
  }
  
  .moneyListItemNumber {
    font-size: 18px;
    font-weight: 100;
    /* width: 10%; */
  }
  
  .moneyListItemAmount {
    font-size: 20px;
    font-weight: 300;
  }
  
  .top {
    height: 50%;
    position: relative;
  }
  
  .timer {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2px;
    left:45%;
    font-size: 30px;
    font-weight: 700;
  }
  
  .bottom {
    height: 50%;
  }
  
  .trivia {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .question {
    width: 80%;
    background: linear-gradient(#100241, black);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #FFD700;
    font-size: 20px;
    
  }
  
  .answers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .answer {
    width: 40%;
    padding: 10px;
    margin: 0 10px 20px 10px;
    text-align: center;
    background: linear-gradient(#0e0124, #22074d);
    border: 1px solid #FFD700;
    border-radius: 15px;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
  }
  
  .answer:hover,
  .answer.active {
    background: mediumblue;
  }
  
  .answer.correct {
    animation: correct 3s ease forwards;
  }
  
  @keyframes correct {
    0%,
    22%,
    42% {
      background: mediumblue;
    }
    20%,
    40%,
    60% {
      background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
      background: green;
    }
  }
  
  .answer.wrong {
    animation: wrong 3s ease forwards;
  }
  
  @keyframes wrong {
    0%,
    22%,
    42% {
      background: mediumblue;
    }
    20%,
    40%,
    60% {
      background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
      background: crimson;
    }
  }
  
  .endText {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .start {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    margin: auto;
    background-image: url(./assets/start.jpg);
    background-position: center;
    background-size: auto;
    
  }
  
  .startInput {
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    top: 20px;
  }
  
  .startInput:focus {
    outline: none;
  }
  
  .startButton {
    margin-top:10px;
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    /* padding: 25px 10px; */
    align-items:center;
    font-family: Bitter;
    background-color: #2de46a;
  }

   /* media Queries */

   @media screen and (max-width: 450px){
        .start{
          background-color: #22074d;
          background-image: none;
        }

        .startInput{
          width: 280px;
        }

        .startButton{
          background-color: #FFD700;
          width:210px;
          font-weight: 600;
        }

        .app{
          height: 100%;
        }

         .main{
          width: 70%;
        } 
        
        .pyramid{
          height: 80%;
          width: 30%;
          
          /* visibility: hidden; */
        }
 
     .moneyList{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
     }

        .timer{
          left: 32%;
         

        }
       
     
   }